doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Dashboard
    link(rel='stylesheet' href='stylesheets/home.css')
    script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js' type='application/javascript')
    script(src='javascripts/abiScripts.js')
    style.
      /* Custom CSS styles go here */
  body
    nav.navbar.is-primary
      .navbar-brand
        li.home
          a(href='/') DID-Dashboard
        a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarMenu')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navbarMenu.navbar-menu
        .navbar-end
          button#connectWalletButton(type='button')
            img(src='images/MetaMask_Horizontal.svg', alt='MetaMask Logo')
          a.navbar-item.button(href='/enroll') Enroll
          a.navbar-item.button(href='/bind') Bind Account
    section.section
      .container
        .user-info-box
          h2.user-info-title User Information
          p.user-info-message Please connect to your wallet to proceed.
          .user-info-details
            p.user-info-item
              span.user-info-label User Address:
              span#userAddress 0x1234...5678
            p.user-info-item
              span.user-info-label DID:
              span#DID DID:ethr:0x1234...5678
            p.user-info-item
              span.user-info-label Contract Address:
              span#contractAddress 0x1234...5678
            p.user-info-item
              span.user-info-label User Type:
              span#userType Standard User
        .user-info-box
          h2.title.is-4 Upload the Encrypted App-Chain Private Key
          .input-container
            p.user-info-item
              span.user-info-label Your Contract Address:
              span#contractAddressInput 0x1234...5678
          br
          .input-container
            label.user-info-label(for='s_privateKeyInput') Upload Encrypted App-Chain Private Key:
            br
            p.user-info-message Please choose the Application.
            select#setOrgOption(name='App')
              option(value='' selected='') Choose the Application
              option(value='EMRsharing') EMR-sharing
              option(value='DNAsequence') DNA sequence
              option(value='OpenBanking') OpenBanking
            input#s_privateKeyInput(type='text' size='20' placeholder='Enter App-Chain Private Key')
            button#uploadPrikeyButton.primary(type='button') Upload
        .user-info-box
          h2.user-info-title Join Application
          p.user-info-message Join the Application by verify Main Identity
          p.user-info-item
            span.user-info-label Choose the Application
          button#OBButton.primary(type='button') OpenBanking
          | &nbsp; &nbsp; &nbsp;
          button#EPButton.primary(type='button') E-profle
          | &nbsp; &nbsp; &nbsp;
          button#EMRButton.primary(type='button') EMR-Sharing
          | &nbsp; &nbsp; &nbsp;
          button#DNAButton.primary(type='button') DNA-Sequence

    script.
      const connectWalletButton = document.getElementById("connectWalletButton");
      const userAddressElement = document.getElementById("userAddress");
      const DIDElement = document.getElementById("DID") ;
      const contractAddressElement = document.getElementById("contractAddress") ;
      const userTypeElement = document.getElementById("userType") ;
      const contractAddressInputElement = document.getElementById("contractAddressInput") ;
      const s_privateKeyInputElement = document.getElementById("s_privateKeyInput") ;
      const setOrgOptionSelect = document.getElementById("setOrgOption") ;
      const IDcontractAddress = '0xE6042703475D0dd1bC2eB564a55F1832c2527171'; // IdentityManagement contract address
      let s_App_option ;
      let g_App_option ;
      let j_App_option ;
      let set_private ;

      function stringToHexUTF8(input) {
        const utf8Encoder = new TextEncoder();
        const encoded = utf8Encoder.encode(input);
        let hexString = '';
        for (let i = 0; i < encoded.length; i++) {
            let hexByte = encoded[i].toString(16);
            if (hexByte.length === 1) {
                hexByte = '0' + hexByte; // Pad single digit hex values with a leading zero
            } // if 
            hexString += hexByte;
        } // for
        return hexString;
      } // function

      document.addEventListener('DOMContentLoaded', function() {
        setOrgOptionSelect.selectedIndex = 0;
        s_privateKeyInputElement.value = "";
      });
      s_privateKeyInputElement.addEventListener('input', (event) => {
        set_private = event.target.value;
      });
      setOrgOptionSelect.addEventListener('change', (event) => {
        orgOption = event.target.value;
      });
      // Event listener for the "Connect Wallet" button
      connectWalletButton.addEventListener("click", async function() {
        //- alert("click connect!");
        if (window.ethereum) {
          // const contractAddress = '0x19550457F532A47f8B64e1246563e9013DF20260'; // Update with your contract address
          // const IdentityManagerAbi = readAbi("IdentityManager") ;
          // A Web3Provider wraps a standard Web3 provider, which is
          // what MetaMask injects as window.ethereum into each page
          const provider = new ethers.providers.Web3Provider(window.ethereum) ;

          // MetaMask requires requesting permission to connect users accounts
          await provider.send("eth_requestAccounts", []);

          // The MetaMask plugin also allows signing transactions to
          // send ether and pay to change state within the blockchain.
          // For this, you need the account signer...
          const signer = provider.getSigner() ;
          const userAddress = await signer.getAddress() ;
          userAddressElement.textContent = userAddress;
          const contract = new ethers.Contract(IDcontractAddress, IdentityManagerAbi, signer);
          var did ;
          var contract_addr ;
          let utype ;
          try {
            did = await contract.getId(); 
            contract_addr = await contract.getAccessManagerAddress(userAddress);
            utype = await contract.getUserType();
          } // try 
          catch (error) {
            alert(error) ;
          } // catch
          
          DIDElement.textContent = did ;
          contractAddressElement.textContent = contract_addr ;
          contractAddressInputElement.textContent = contract_addr ;
          if ( utype == 0 )
            userTypeElement.textContent = " personal" ;
          else 
            userTypeElement.textContent = " organization" ;
          
        } // if 
        else 
          alert('Please download Metamask');
      });
      //- getPubkeyButton.addEventListener("click", async function() {
      //-   const provider = new ethers.providers.Web3Provider(window.ethereum) ;
      //-   await provider.send("eth_requestAccounts", []);
      //-   const signer = provider.getSigner() ;
      //-   const userAddress = await signer.getAddress() ;
      //-   const Pubkey = await window.ethereum.request({
      //-     "method": "eth_getEncryptionPublicKey",
      //-     "params": [
      //-       userAddress
      //-     ]
      //-   });
      //-   EncryptionPublicKeyInputElement.textContent = Pubkey ;
      //- });

      uploadPrikeyButton.addEventListener("click", async function() {
        const contractAddress = contractAddressInputElement.textContent;
        const provider = new ethers.providers.Web3Provider(window.ethereum) ;
        await provider.send("eth_requestAccounts", []);
        const signer = provider.getSigner() ;
        const userAddress = await signer.getAddress() ;
        const contract = new ethers.Contract(contractAddress, PersonalIdentityAbi, signer);
        try {
          if (orgOption && set_private) {
            //- const set_private_array = set_private.split("") ;
            // const set_private_array = ethers.utils.toUtf8Bytes(set_private);
            const res = await contract.set_app_private(ethers.utils.formatBytes32String(orgOption), ethers.utils.formatBytes32String(set_private)) ;
            if (res)
              alert("Upload EncryptedPrivateKey Success!") ;
            else 
              alert("FAIL to upload EncryptedPrivateKey!") ;
            //- const ans = await contract.get_app_private(ethers.utils.formatBytes32String(orgOption)) ;
            //- alert(ans) ;
          } // if  
          else 
            alert("Please choose the Organization or upload the privateKey!!!") ;
        } // try 
        catch (error) {
          alert(error) ;
        } // catch
      });

      OBButton.addEventListener("click", async function() {
        window.location.href = '/Openbanking' ;
      });

      EPButton.addEventListener("click", async function() {
        window.location.href = '/E_profile' ;
      });

      EMRButton.addEventListener("click", async function() {
        window.location.href = '/EMRsharing' ;
        //- const provider = new ethers.providers.Web3Provider(window.ethereum) ;
        //- const signer = provider.getSigner() ;
        //- const contract = new ethers.Contract(IDcontractAddress, IdentityManagerAbi, signer);
        //- const messageHash = ethers.utils.hashMessage("henry") ;
        //- signature = await signer.signMessage(ethers.utils.arrayify(messageHash));
        //- let info ;
        //- const DID = DIDElement.textContent ;
        //- alert("start auth");
        //- try {
        //-   info = await contract.authentication(DID, messageHash, signature); 
        //- } // try 
        //- catch (error) {
        //-   alert(error) ;
        //- } // catch

        //- alert(info) ;
      });

      DNAButton.addEventListener("click", async function() {
        window.location.href = '/DNA_sequence' ;
      });   

      //- RequestButton.addEventListener("click", async function() {
      //-   const provider = new ethers.providers.Web3Provider(window.ethereum) ;
      //-   const signer = provider.getSigner() ;
      //-   const contract = new ethers.Contract(IDcontractAddress, IdentityManagerAbi, signer);
      //-   const messageHash = ethers.utils.hashMessage("henry") ;
      //-   signature = await signer.signMessage(ethers.utils.arrayify(messageHash));
      //-   let info ;
      //-   const DID = DIDElement.textContent ;
      //-   alert("start auth");
      //-   try {
      //-     info = await contract.authentication(DID, j_App_option, messageHash, signature); 
      //-   } // try 
      //-   catch (error) {
      //-     alert(error) ;
      //-   } // catch

      //-   alert(info) ;
      //- });