doctype html
html
  head
    title Login Page
    link(rel='stylesheet' type='text/css' href='stylesheets/login.css')
    script(src='javascripts/loginScript.js')
  body
    .container
      h1 DID-chain login
      form
        .form-group
          label(for='username') Username:
          input#username(type='text' name='username' placeholder='Enter your username')
        .form-group
          label(for='password') Password:
          input#password(type='password' name='password' placeholder='Enter your password')
        div.box
          button.login-button(onclick='login()') Login
          p
            a.enroll-button(href='/enroll') enroll
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a.bindaccount-button(href='/bind') Bind Account