doctype html
html
  head
    title App-chain Login
    link(rel='stylesheet' href='stylesheets/login.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js' type='application/javascript')
    script(src='javascripts/abiScripts.js')
  body
    .container
      h1 App-chain Login
        div#notice
            p.notice-title This is a notice for all users. Please read and accept before continuing.
            p.notice 您的X509Identity會被醫院使用
        div#accept
            input(type='checkbox', id='acceptCheckbox')
            label(for='acceptCheckbox') I accept the notice.
            //- button#continueButton(disabled) Continue
      form#bindAccountForm(action='/login', method='POST')
        label(for='walletAddressInput') Wallet Address:
        input#walletAddressInput(type='text' name='walletAddressInput' readonly='' required='')
        br
        button#connectButton(type='button') Login for sign signature
          img(src='images/MetaMask_Horizontal.svg', alt='MetaMask Logo')
          | 
        br
        br
        label(for='messageInput') message(need to input by user):
        input#messageInput(type='text' name='messageInput' required='')
        button#SignButton(type='button') Sign
        br
        //- br
        //- label(for='messageHashInput') messageHash:
        //- input#messageHashInput(type='text' name='messageHashInput' readonly='' required='')
        br
        label(for='signatureInput') Signature:
        input#signatureInput(type='text' name='signatureInput' readonly='' required='')
        button#loginButton(type='submit') login
    script.
      const connectButton = document.getElementById("connectButton");
      const walletAddressInput = document.getElementById("walletAddressInput");
      // const DIDInput = document.getElementById("DIDInput");
      const messageInput = document.getElementById("messageInput");
      // const messageHashInput = document.getElementById("messageHashInput");
      const signatureInput = document.getElementById("signatureInput");
      connectButton.addEventListener("click", async function() {
        if (window.ethereum) {
          const provider = new ethers.providers.Web3Provider(window.ethereum) ;
          await provider.send("eth_requestAccounts", []);
          const signer = provider.getSigner() ;
          const userAddress = await signer.getAddress() ;
          walletAddressInput.value = userAddress;
        } // if 
        else 
          alert('Please download Metamask');
      });
      SignButton.addEventListener("click", async function() {
        if (window.ethereum) {
          const provider = new ethers.providers.Web3Provider(window.ethereum);
          const signer = provider.getSigner();
          if (messageInput.value) {
            const messageHash = ethers.utils.hashMessage(messageInput.value);
            const signature = await signer.signMessage(messageHash);
            //- const signature = await signer.signMessage(ethers.utils.arrayify(ethers.utils.id(messageHash)));
            signatureInput.value = signature;
          } // if
          else 
            alert("Need to input the message!!!");
        } // if 
        else 
          alert('Please download Metamask');
      });
      //- document.getElementById('acceptCheckbox').addEventListener('change', function(e) {
      //-     document.getElementById('continueButton').disabled = !e.target.checked;
      //- });